---
http_interactions:
- request:
    method: get
    uri: http://www.google.com/uds/GwebSearch?filter=1&hl=en&key=notsupplied&q=%22sadasdasdasdfgfgdfgdfgfd%20rocks%22&rsz=large&start=0&v=1.0
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript; charset=utf-8
      X-Embedded-Status:
      - '200'
      Alternate-Protocol:
      - 80:quic
    body:
      encoding: US-ASCII
      string: ! '{"responseData": {"results":[],"cursor":{"moreResultsUrl":"http://www.google.com/search?oe\u003dutf8\u0026ie\u003dutf8\u0026source\u003duds\u0026start\u003d0\u0026filter\u003d1\u0026hl\u003den\u0026q\u003d%22sadasdasdasdfgfgdfgdfgfd+rocks%22","searchResultTime":"0.07"}},
        "responseDetails": null, "responseStatus": 200}'
  recorded_at: Mon, 11 Nov 2013 07:43:16 GMT
- request:
    method: get
    uri: http://www.google.com/uds/GwebSearch?filter=1&hl=en&key=notsupplied&q=%22sadasdasdasdfgfgdfgdfgfd%20sucks%22&rsz=large&start=0&v=1.0
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript; charset=utf-8
      X-Embedded-Status:
      - '200'
      Alternate-Protocol:
      - 80:quic
    body:
      encoding: US-ASCII
      string: ! '{"responseData": {"results":[],"cursor":{"moreResultsUrl":"http://www.google.com/search?oe\u003dutf8\u0026ie\u003dutf8\u0026source\u003duds\u0026start\u003d0\u0026filter\u003d1\u0026hl\u003den\u0026q\u003d%22sadasdasdasdfgfgdfgdfgfd+sucks%22","searchResultTime":"0.08"}},
        "responseDetails": null, "responseStatus": 200}'
  recorded_at: Mon, 11 Nov 2013 07:43:16 GMT
recorded_with: VCR 2.7.0
